:root {
    --primary-color: rgb(0 115 230);
    --secondary-color: rgb(3 105 161);
    --secondary-color-light: rgb(14 165 233);
    --tertiary-color: #f6f6f6;
}

.default-page-background {
    background: white;
    background-size: cover;
    min-height: 100vh;
    width: 95vw;
    margin: 1rem auto;
}

button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--secondary-color-light);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

h1 {
    font-size: 36px;
    color: #2c3e50;
    text-shadow: 1px 1px 1px #ecf0f1;
}
h2 {
    font-size: 24px;
    color: #2c3e50;
    text-shadow: 1px 1px 1px #ecf0f1;
}
h3 {
    font-size: 18px;
    color: #2c3e50;
    text-shadow: 1px 1px 1px #ecf0f1;
}
h4 {
    font-size: 16px;
    color: #2c3e50;
    text-shadow: 1px 1px 1px #ecf0f1;
}
h5 {
    font-size: 14px;
    color: #2c3e50;
    text-shadow: 1px 1px 1px #ecf0f1;
}
h6 {
    font-size: 12px;
    color: #2c3e50;
    text-shadow: 1px 1px 1px #ecf0f1;
}



/* ---- Animations ---- */
@keyframes slideInCenter {
    0% {
        transform: translate(-50%, -50%) translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutCenter {
    0% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) translateY(-100%);
        opacity: 0;
    }
}