@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Enter test input/output page <a href="https://docs.microsoft.com/aspnet/core">HERE</a>.</p>
</div>
