@{
    ViewData["Title"] = "NoteBlend";
}
<link rel="stylesheet" href="~/css/Index.css" />
<h1 class="main_title">@ViewData["Title"]</h1>
<div>
    <h3 class="text-center">Select function</h3>
    <div class="flex-container">
        <button class="btn-blue btn-primary flex-grow-1" onclick="window.location.href = '/Chat'">Chat</button>
        <button class="btn-blue btn-primary flex-grow-1" onclick="window.location.href = '/Chat/ShowChatSearch'">Chat search</button>
        <button class="btn-red btn-primary flex-grow-1" onclick="window.location.href = '/Conspects'">Lecture notes</button>
        <button class="btn-red btn-primary flex-grow-1" onclick="window.location.href = '/Conspects/ShowConspectSearch'">Note search</button>
    </div>
    <br/>
    <p style="color: dodgerblue">Blue buttons are used for the first lab assignment.</p>
    <p style="color: red">Red buttons will be used for the second lab assignment. They should be ignored.</p>
</div>
