@model Project.Models.InOutModel
@{
    ViewData["Title"] = "Input/output test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach(var message in Model.Message)
{
    <h2>@message.Name: @message.Text</h2>
}
